.amz-checker {
  width: 100%;
  min-height: 100vh;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
  }

  .left-sidebar {
    width: 80px;
    flex-shrink: 0;
    background-color: #2a2d34;

    .logo-container {
      padding: 15px;
      
      .logo {
        width: 100%;
        height: auto;
      }
    }
  }
  
  .content {
    flex-grow: 1;
    overflow-y: auto;

    .top-bar {
      display: flex;
      flex-direction: column;
      height: 70px;
      background-color: #2a2d34;
    }
  }

  .right-sidebar {
    width: 80px;
    flex-shrink: 0;
    background-color: #2a2d34;
    padding: 15px;
  }
}
